<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
		 
<!--  		 
		 <bean id="paisDao"
		 		class="sv.edu.ues.igf115.pais.negocio.CtrlTbPais">
		 		<constructor-arg ref="paisDao"/>
		 </bean>

		 <bean id="ctrlTbpais"
		 		class="sv.edu.ues.igf115.pais.negocio.CtrlTbPais">
		 		<constructor-arg ref="paisDao"/>
		 </bean>
-->

		 <bean id="hibernateUtil"
		 		class="com.fia.igf.utilidades.datos.HibernateUtil">
		 </bean>

		 <bean id="aplicativoDao"
		 		class="com.fia.igf.app.datos.AplicativoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="claseDao"
		 		class="com.fia.igf.app.datos.ClaseDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="tipoClaseDao"
		 		class="com.fia.igf.app.datos.TipoClaseDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="ctrlAplicativo"
		 		class="com.fia.igf.app.negocio.CtrlAplicativo">
		 		<constructor-arg ref="aplicativoDao"/>
		 </bean>

		 
</beans>