<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
		 
<!--  		 
		 <bean id="paisDao"
		 		class="sv.edu.ues.igf115.pais.negocio.CtrlTbPais">
		 		<constructor-arg ref="paisDao"/>
		 </bean>

		 <bean id="ctrlTbpais"
		 		class="sv.edu.ues.igf115.pais.negocio.CtrlTbPais">
		 		<constructor-arg ref="paisDao"/>
		 </bean>
-->

		 <bean id="hibernateUtil"
		 		class="com.fia.igf.utilidades.datos.HibernateUtil">
		 </bean>

		 <bean id="aplicativoDao"
		 		class="com.fia.igf.app.datos.AplicativoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="claseDao"
		 		class="com.fia.igf.app.datos.ClaseDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="tipoClaseDao"
		 		class="com.fia.igf.app.datos.TipoClaseDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>
		 
		 <bean id="tipoMetodoDao"
		 		class="com.fia.igf.app.datos.TipoMetodoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="MetodoDao"
		 		class="com.fia.igf.app.datos.MetodoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>


		 <bean id="tipoAtributoDao"
		 		class="com.fia.igf.app.datos.TipoAtributoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="atributoDao"
		 		class="com.fia.igf.app.datos.AtributoDAO">
		 		<constructor-arg ref="hibernateUtil"/>
		 </bean>

		 <bean id="ctrlClase"
		 		class="com.fia.igf.app.negocio.CtrlClase">
		 		<constructor-arg ref="claseDao"/>
		 		<constructor-arg ref="tipoClaseDao"/>
		 		<constructor-arg ref="aplicativoDao"/>
		 </bean>

		 <bean id="ctrlAplicativo"
		 		class="com.fia.igf.app.negocio.CtrlAplicativo">
		 		<constructor-arg ref="aplicativoDao"/>
		 </bean>

		 <bean id="ctrlTipoClase"
		 		class="com.fia.igf.app.negocio.CtrlTipoClase">
		 		<constructor-arg ref="tipoClaseDao"/>
		 </bean>

		 <bean id="ctrlTipoAtributo"
		 		class="com.fia.igf.app.negocio.CtrlTipoAtributo">
		 		<constructor-arg ref="tipoAtributoDao"/>
		 </bean>
		 
		 <bean id="ctrlTipoMetodo"
		 		class="com.fia.igf.app.negocio.CtrlTipoMetodo">
		 		<constructor-arg ref="tipoMetodoDao"/>
		 </bean>
		 
		 <bean id="ctrlMetodo"
		 		class="com.fia.igf.app.negocio.CtrlMetodo">
		 		<constructor-arg ref="MetodoDao"/>
		 </bean>

		 <bean id="ctrlAtributo"
		 		class="com.fia.igf.app.negocio.CtrlAtributo">
		 		<constructor-arg ref="atributoDao"/>
		 		<constructor-arg ref="tipoAtributoDao"/>
		 </bean>
		 
		 

		 <bean id="listHelper"
		 		class="com.fia.igf.app.utilidades.ui.ListHelper">
		 		<constructor-arg ref="claseDao"/>
		 		<constructor-arg ref="tipoClaseDao"/>
		 		<constructor-arg ref="aplicativoDao"/>
		 </bean>



		 
</beans>